.tab-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: calc(50%);
    padding: 30px;
    box-sizing: border-box;
}

.is-active {
    background: #ccccff;
}
